page-login {
    #login  {
        text-align: center !important;
        background: #de4e08;
        background: -moz-linear-gradient(top, #de4e08 0%, #ff8106 100%);
        background: -webkit-linear-gradient(top, #de4e08 0%,#ff8106 100%);
        background: linear-gradient(to bottom, #de4e08 0%,#ff8106 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4e08', endColorstr='#ff8106',GradientType=0 );
        }

    ion-list{
        margin-top: 150px !important;

    }

    .logo-login{
        width: 50%;
    }

    ion-label{
        color: #fff !important;
    }

    ion-item{
        background-color: #ffffff00 !important;
        padding: 10px !important;
        border-radius: 60px;
    }

    button{
        margin-top: 10px !important;
    }
}