page-welcome {
    #welcome {
        background: #d6a52a;
        background: -moz-linear-gradient(top, #d6a52a 0%, #e8dd4a 100%);
        background: -webkit-linear-gradient(top, #d6a52a 0%,#e8dd4a 100%);
        background: linear-gradient(to bottom, #d6a52a 0%,#e8dd4a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6a52a', endColorstr='#e8dd4a',GradientType=0 )
        }
}
